/* NAVBAR */

.nav-don {
    height: 50px;
    width: 170px;
    margin: 0;
    background-color: rgb(46, 46, 46);
}

.navbar-hover-link a:hover {
    color: #f89b12;
}

.navbar {
    background-color: #f89b12;
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
} 

/* ARTICLE */

.btn-card-custom {
    background-color: #f89b12;
}

.title-apropos {
    color: #f89b12;
}

/* FOOTER */ 

.bd-footer a {
    color: #495057;
    text-decoration: none;
}

.bd-footer a:hover {
    color: #f89b12;
}

.footer-title {
    color: #f89b12;
}
.aside-border-right {
    border-right: 5px solid #f89b12;
}